.deadline {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #bedbb0;
}

.myDatePickerStyle .react-datepicker__header{
background-color: blue !important;
}
/* 
.react-datepicker__header {
  border-bottom: none;
}

.react-datepicker__triangle {
  display: none;
}
.react-datepicker__header {
  padding-top: 18px;
  padding-bottom: 0;
  background-color: inherit;
}

.react-datepicker__month {
  margin-right: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
}

.react-datepicker__day-names {
  margin-top: 14px;
}

.react-datepicker__current-month {
  padding-bottom: 18px;
  margin-left: 18px;
  margin-right: 18px;
  border-bottom: 1px solid #161616;
  color: #161616;
}

.react-datepicker__day {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0.215rem;
  color: #161616;
}

.react-datepicker__day:hover {
  border-radius: 50%;
  background-color: #f0f0f0;
}

.react-datepicker__day-name {
  width: 24px;
  height: 24px; 
  margin-top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #161616;
}

.react-datepicker__navigation {
  top: 15px;
}

.react-datepicker__navigation--previous {
  left: 4px;
}

.react-datepicker__navigation--next {
  right: 4px;
}

.react-datepicker__day--selected {
  border-radius: 50%;
  background-color: #bedbb0;
  color: #161616;
}

.react-datepicker__day--selected:hover {
  background-color: #9bbf8a;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 50%;
  background-color: #f0f0f0;
  color: inherit;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: #bedbb0;
}

.react-datepicker__day--disabled {
  color: #16161620;
}

.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0;
  height: 7px;
  width: 7px;
  border-color: #16161680;
}

.react-datepicker__navigation:hover *::before {
  border-color: #bedbb0; */
/* } */
.exampleCustomInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: #bedbb0;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
