.introContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 25%, #bedbb0 92.19%);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.introWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.logo {
  width: 124px;
  height: 124px;
  margin-bottom: 14px;
  background-image: url(../../images/first_m.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
}

.introSvg {
  height: 40px;
  width: 40px;
}

.title {
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1.12px;
  color: #161616;
}

.secondText {
  width: 335px;
  color: #161616;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  font-family: 'Poppins';
}

.authWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  gap: 14px;

}

.authWrapper#login:hover + #register {
  background: transparent;
  color: #161616;
}
  
.buttonLinkRegister {
  width: 335px;
  padding: 14px 0;

  font-style: normal;
  text-transform: none;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.28px;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #161616 ;
  color: white;
  font-size: 14px;
}

.buttonLinkRegister:hover {  
    transform: scale(1.05); }
  
.buttonLinkRegister:active {
    transform: scale(0.95);
  }

  .buttonLinkLogin {
    width: 335px;
  padding: 14px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.28px;
  text-align: center;
color: #161616;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: none;
  }
 
  .buttonLinkLogin:hover {
    background: #161616 ;
    color: #fff;
  }

  .buttonLinkLogin:active {
    transform: scale(0.95);
  }

@media screen and (min-width: 768px) {
  .logo {
    width: 162px;
    height: 162px;
    margin-bottom: 24px;
    background-image: url(../../images/first_dt.png);
  }
  .svg {
    height: 48px;
    width: 48px;
  }
  .title {
    font-size: 40px;
    letter-spacing: -1.6px;
  }
  .secondText {
    width: 473px;
  }

  .buttonLinkRegister, .buttonLinkLogin {
width: 344px;
  }
}
